<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
    {% endblock css %}
</head>
<body>
<header id="page_header">
    <div id="site_name"> BOOKING</div>
    <div class="authentication">
    {% if request.user.is_authenticated %}
        Welcome, {{user.username}} | <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a  href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Sign in</a>
    {% endif %}
    </div>
</header>
    <article id="main_content">
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </article>
    <div id="right_sidebar">
        <nav>
            {% if request.user.is_superuser %}
                <p>Administration panel</p>
                    <ul class="administration">
                        <li class="admin-link"><a href="{% url 'add_hotel' %}">Add New Hotel</a></li>
                        <li class="admin-link"><a href="{% url 'add_room' %}">Add New Room</a></li>
                        <li class="admin-link"><a href="{% url 'all_reviews' %}">All Reviews</a></li>
                        <li class="admin-link"><a href="{% url 'all_bookings' %}">All Relevant Bookings</a></li>
                        <li class="admin-link"><a href="{% url 'analytics' %}">Analytics</a></li>
                    </ul>
            {% endif %}
            <ul>
                <li class="user-link"><a href="{% url 'hotels' %}">Hotels</a></li>
                <li class="user-link"><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </nav>
    </div>
    <div id="left_sidebar">{%block left-sidebar %}{% endblock %}</div>
    <footer id="page_footer">This website is a diploma project done by Valeriya Varanchuk in March-April 2024.</footer>
</body>
</html>