{% extends 'layout.html' %}
{% load static %}

{% block title %}{{room.slug}}{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/certain_room.css' %}" type="text/css">
{% endblock css %}

{% block header %}{{room.room_type}} room in {{room.hotel_id.rating}} &#11088; {{room.hotel_id.name}}{% endblock %}

{% block content %}
    <div class="wrapper">
        {% if request.user.is_superuser %}
            <a href="/manage/update_room/{{room.id}}"><input type="submit" value="UPDATE ROOM INFO" class="admin-button"></a>
            <div class="delete_room">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name='delete-button' value="DELETE ROOM" class="delete-button">
                </form>
            </div>
        {% endif %}
    </div>
    <div class="info">
        <p class="price">{{room.number}} {{room.room_type}} hotel room for {{room.price_per_night}}$ per night</p>
        {% if photos %}
            <div class="photos">
                {% for photo in photos %}
                <a href="/media/{{photo.photo}}"> <img src='/media/{{photo.photo}}'></a>
                {% endfor %}
            </div>
        {% endif%}
        <p class="description"> {{room.description}}</p>
    </div>
{% endblock %}
{%block left-sidebar %}
    {% if not request.user.is_superuser %}
        <div class="reservation">
            <form method="POST" class="reservation-form">
                {% csrf_token %}
                <h3>Make a reservation</h3>
                {% if request.user.is_authenticated %}
                    <span class="form-error">{{form.non_form_errors}}</span>
                    <div class="form-error">{{form.non_field_errors}}</div>
                    <input type="hidden" name="room_id" id="id_room" value="{{room.id}}">
                    <input type="hidden" name="user_id" id="id_user" value="{{request.user.id}}">
                    <input type="hidden" name="cancelled" id="id_cancelled" value="False">
                     {% for field in form %}
                        {% if not field.is_hidden %}
                            <p class="form-input"> <label class="form-label">{{field.label_tag}}</label>{{field}}</p>
                                {% if field.errors %}
                                    <span class="form-error">{{field.errors|striptags}}</span>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="Reserve" class="button" name="reservation-button">
                {%else %}
                    <p class="warning">You must be logged in to make a reservation.</p>
                {% endif %}
                <button type="button" class="collapsible">View already booked dates</button>
                <div class="unavailable-dates">
                {% if unavailable_dates %}
                    <div class="booked_dates">
                        {% for date in unavailable_dates %}
                        <span>{{date}}</span>
                        {%endfor%}
                    </div>
                {% endif %}
                </div>
            </form>
        </div>
    {% endif %}
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}
