{% extends 'layout.html' %}
{% load static %}

{% block title %}{{room.slug}}{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/certain_item.css' %}" type="text/css">
{% endblock css %}

{% block header %}{{room.room_type}} room in {{room.hotel_id.rating}} &#11088; {{room.hotel_id.name}}{% endblock %}

{% block content %}
    <div class="info">
        <p class="price">{{room.number}} {{room.room_type}} hotel room for {{room.price_per_night}}$ per night</p>
        {% if photos %}
            <div class="photos">
                {% for photo in photos %}
                <a href="/media/{{photo.photo}}"> <img src='/media/{{photo.photo}}'></a>
                {% endfor %}
            </div>
        {% endif%}
        <p class="description"> {{room.description}}</p>
    </div>
{% endblock %}
{%block left-sidebar %}
    {% if room.available %}
    <div class="reservation">
        <h4>Make a reservation</h4>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="room_id" id="id_room" value="{{room.id}}">
            <input type="hidden" name="user_id" id="id_user" value="{{request.user.id}}">
            <label class="check-date">Check-in: </label> <p>{{ reservation_form.check_in_date}} </p>
            <label class="check-date">Check-out: </label> <p>{{ reservation_form.check_out_date}} </p>
            <input type="submit" value="Reserve">
        </form>
    </div>
    {% endif %}
{% endblock %}