{% extends 'layout.html' %}
{% load static %}

{% block title %}{{hotel.name}}{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/certain_hotel.css' %}" type="text/css">
{% endblock css %}

{% block header %}{{hotel.rating}} &#11088; {{hotel.name}}{% endblock %}

{% block content %}
    <div class="wrapper">
        {% if request.user.is_superuser %}
            <a href="/manage/update_hotel/{{hotel.id}}"><input type="submit" value="UPDATE HOTEL INFO" class="admin-button"></a>
            <div class="delete_hotel">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name='delete-button' value="DELETE HOTEL" class="admin-button">
                </form>
            </div>
        {% endif %}
    </div>
    <div class="info">
        <p class="user-rating">
            {% if user_hotel_rating.avg_rating is not None %}
                Hotel rating is {{user_hotel_rating.avg_rating}} based on {{reviews|length}} review(s).
            {% else %}
                This hotel does not yet have a user rating.
            {% endif %}
        </p>
        <p class="hotel-address">{{hotel.country}}, {{hotel.city}}, {{hotel.location}}</p>
        {% if photos %}
            <div class="photos">
                {% for photo in photos %}
                <a href="/media/{{photo.photo}}"> <img src='/media/{{photo.photo}}'></a>
                {% endfor %}
            </div>
        {% endif%}
        <p class="description"> {{hotel.description}}</p>
    </div>
    <div class="rooms">
        <h2>Hotel rooms</h2>
        {% if rooms %}
            {% for room in rooms %}
                {% if room.available %}
                <div class="room">
                   <a class="room_link" href="/room/{{room.slug}}"> {{room.number}} {{room.room_type}}</a>
                </div>
                {% endif %}
                {% if not room.available and request.user.is_staff %}
                <div class="room">
                   <a class="room_link" href="/room/{{room.slug}}"> {{room.number}} {{room.room_type}} (unavailable)</a>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3 class="no-rooms">Sorry, there are no rooms available at this hotel right now.</h3>
        {% endif %}
    </div>
    <div class="reviews">
        {% if reviews %}
            <h3>Reviews</h3>
            {% for review in reviews %}
            <div class="comment">
                <div class="comment-info">{{review.user_id.username}} | {{review.created_at}}</div>
                <div class="comment-rating">{{review.rating}} &#11088;</div>
                <div class="comment-contetnt">{{review.comment}}</div>
            </div>
            {% endfor %}
        {% else %}
            <h4>There are no reviews for this hotel.</h4>
        {% endif %}
        {% if request.user.is_authenticated and not request.user.is_superuser and request.user.id in users_who_booked and check_out_dates %}
        <form method="POST" class="review-form">
            <h3>Share your experiences with others</h3>
            {% csrf_token %}
            <span class="form-error">{{form.non_field_errors}}</span>
            <input type="hidden" name="hotel_id" id="id_hotel" value="{{hotel.id}}">
            <input type="hidden" name="user_id" id="id_user" value="{{request.user.id}}">
            {% for field in form %}
                {% if not field.is_hidden %}
                    <p class="form-input"> <label class="form-label">{{field.label_tag}}</label>{{field}}</p>
                        {% if field.errors %}
                            <span class="form-error">{{field.errors|striptags}}</span>
                        {% endif %}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Publish" class="button" name='comment-button'>
        </form>
        {% endif %}
    </div>
{% endblock %}
