{% extends 'layout.html' %}
{% load static %}

{% block title %}New hotel{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/new.css' %}" type="text/css">
{% endblock css %}

{% block header %}Fill out the form{% endblock %}

{% block content %}
<form method="POST" class="hotel-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wrapper">
        <div class="main-form">
            <span class="form-error">{{form.non_field_errors}}</span>
            {% for field in form %}
                <div class="form-input"> <label class="form-label">{{field.label_tag}}</label> {{field}}</div>
                {% if field.errors %}
                    <span class="form-error">{{field.errors|striptags}}</span>
                {% endif %}
            {% endfor %}
        </div>
        {% with named_formsets.photos as formset %}
            {{ formset.management_form }}
            <script type="text/html" id="photos-template">
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
                {% for fields in formset.empty_form.visible_fields %}
                    {{fields}}
                {% endfor %}
            </script>
            <div class="inline-forms">
                <h3>Photos</h3>
                <span class="form-error">{{ photo_formset.non_form_errors }}</span>
                {% for error in formset.non_form_errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
                {% for form in formset %}
                    {{ form.management_form }}
                        <div class="inline-form">
                            {{ form.id }}
                            {% for field in form.visible_fields %}
                            <div class="form-input"> <label class="form-label">{{field.label_tag}}</label>{{field}}</div>
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>
         {% endwith %}
    </div>
    <div class="form-buttons">
        <input type="submit" value="Save" class="button">
        <a href="{%url 'hotels'%}" class="button">Cancel</a>
    </div>
</form>
{% endblock %}