{% extends 'layout.html' %}
{% load static %}

{% block title %}New hotel{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/manage_hotel.css' %}" type="text/css">
{% endblock css %}

{% block header %}Update hotel info{% endblock %}

{% block content %}
<form method="POST" class="hotel-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wrapper">
        <div class="main-form">
            <p class="form-error">{{form.non_form_errors}}</p>
            {% for field in form %}
                <p class="form-input"> <label class="form-label">{{field.label_tag}}</label> {{field}}</p>
                {% if field.errors %}
                    <p class="form-error">{{field.errors|striptags}}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% with named_formsets.photos as formset %}
            {{ formset.management_form }}
            <script type="text/html" id="photos-template">
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }} gdfgdf
                {% endfor %}
                {% for fields in formset.empty_form.visible_fields %}
                    {{fields}} fdgfdgfg
                {% endfor %}
            </script>
            <div class="inline-forms">
                <h3>Update hotel photos</h3>
                {{ photo_formset.non_form_errors }}
                {% for error in formset.non_form_errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
                {% for form in formset %}
                    {{ form.management_form }}
                        <div class="inline-form">
                            {{ form.id }}
                            {% for field in form.visible_fields %}
                                {{field}}
                                {% for error in field.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            {% endfor %}
                            {% if formss.instance.pk %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{form.instance.pk}}">
                                Delete
                            </button>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
        {% endwith %}
    </div>
    <div class="form-buttons">
        <input type="submit" value="Update" class="button">
        <a href="{%url 'hotels' %}" class="button">Cancel</a>
    </div>
</form>
{% endblock %}