.hotel{
    background: #fff;
    border: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 5px 25px;
    }

.pagination {
    color: #3A5199;
    font-weight: bold;
    }

.pagination a {
    color: #3A5199;
    padding: 15px 5px;
    text-decoration: none;
    display: inline-block;
    }

h3 {
    color: black;
    font-family:
    Brush Script Std,
    cursive;
    }

.hotel-address {
    color: gray;
    font-family:
    Brush Script Std,
    cursive;
    font-size: 12px;
    }

.hotel_link a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    }

img {
    max-height: 200px;
    max-width: 250px;
    margin: 10px;
    }
