.wrapper {
    display: flex;
}

.inline-forms {
    margin-inline-start: 100px;
}

.inline-form a {
    text-decoration: none;
    display: inline-block;
    color: #3A5199;
}

.inline-form .form-label {
    display: inline !important;
}