{% extends 'layout.html' %}
{% load static %}

{% block title %}Analytics{% endblock title %}

{% block header %}Analytics{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/analytics.css' %}" type="text/css">
{% endblock css %}

{% block content %}
    <h2><label>Total count of bookings: </label>{{total_bookings.id__count}}</h2>
    <div class="bookings">
        <div class="top-rating">
            <table class="table">
                <h3>Top hotels by user rating</h3>
                    <tr>
                        <th>Hotel</th>
                        <th>Rating</th>
                    </tr>
                    {% for hotel in user_hotels_rating %}
                        {% for key, value in hotel.items %}
                            <tr>
                                <td>
                                    {% if key == "hotel_id__name"%}
                                        {{value}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if key == "avg_rating"%}
                                        {{value}}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
            </table>
        </div>
        <div class="top-booking">
            <table class="table">
                <h3>Top hotels by number of bookings</h3>
                    <tr>
                        <th>Hotel</th>
                        <th>Bookings count</th>
                    </tr>
                    {% for hotel in hotel_bookings_count %}
                        {% for key, value in hotel.items %}
                    <tr>
                        <td>
                            {% if key == "room_id__hotel_id__name"%}
                                {{value}}
                            {% endif %}
                        </td>
                        <td>
                            {% if key == "bookings_per_hotel"%}
                                {{value}}
                            {% endif %}
                        </td>
                    </tr>
                        {% endfor %}
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}