{% extends 'layout.html' %}
{% load static %}

{% block title %}Analytics{% endblock title %}

{% block header %}Analytics{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/analytics.css' %}" type="text/css">
{% endblock css %}

{% block content %}
    <h2><label>Total count of bookings: </label>{{total_bookings.id__count}}</h2>
    <div class="bookings">
        <div class="top-rating">
            <table class="table">
                <h3>Top hotels by user rating</h3>
                    <tr>
                        <th>Hotel</th>
                        <th>Rating</th>
                    </tr>
                    {% for hotel in user_hotels_rating %}
                    <tr>
                        {% for value in hotel.values %}
                            <td>
                                {{value}}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="top-booking">
            <table class="table">
                <h3>Top hotels by number of bookings</h3>
                    <tr>
                        <th>Hotel</th>
                        <th>Bookings count</th>
                    </tr>
                    {% for hotel in hotel_bookings_count %}
                    <tr>
                        {% for value in hotel.values %}
                        <td>
                            {{value}}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}