{% extends 'layout.html' %}
{% load static %}

{% block title %}Analytics{% endblock title %}

{% block header %}Analytics{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/analytics.css' %}" type="text/css">
{% endblock css %}
{% block content %}
    <h2><label>Total count of bookings: </label>{{total_bookings.id__count}}</h2>
    <div class="bookings">
        <div class="top-rating">
            <table class="table">
                <h3>Top hotels by user rating</h3>
                    <tr>
                        <th>Hotel</th>
                        <th>Rating</th>
                    </tr>
                    {% for hotel_stat in rating_statistics %}
                    <tr>
                        <td>
                            {{hotel_stat.hotel.name}}
                        </td>
                        <td>
                            {% if hotel_stat.user_rating == 0 and hotel_stat.total_number_of_reviews == 0%}
                                No reviews yet
                            {% else %}
                                {{hotel_stat.user_rating}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="top-booking">
            <table class="table">
                <h3>Top hotels by number of bookings</h3>
                    <tr>
                        <th>Hotel</th>
                        <th>Bookings count</th>
                    </tr>
                    {% for hotel_stat in booking_statistics %}
                    <tr>
                        <td>
                            {{hotel_stat.hotel.name}}
                        </td>
                        <td>
                            {% if hotel_stat.total_number_of_bookings == 0%}
                                No bookings yet
                            {% else %}
                                {{hotel_stat.total_number_of_bookings}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}