{% extends 'layout.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock css %}

{% block header %}{{user.username}}'s Profile {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="profile">
        <div class="user-profile">
            <p class="user-info"><label class="user-label"> Username: </label> {{user.username}}</p>
            <p class="user-info"><label class="user-label"> Email: </label> {{user.email}}</p>
            {% if user.first_name %}
                <p class="user-info"><label class="user-label"> First name: </label> {{user.first_name}}</p>
            {% endif %}
            {% if user.last_name %}
                <p class="user-info"><label class="user-label"> Last name: </label> {{user.last_name}}</p>
            {% endif %}
            {% if user.profile.birth_date %}
                <p class="user-info"><label class="user-label"> Birthday: </label> {{user.profile.birth_date}} </p>
            {% endif %}
        </div>
        {% if not user.profile.birth_date or not user.first_name or not user.last_name %}
        <div class="update">
            <button type="button" class="collapsible">Update Profile</button>
            <div class="update-profile">
            <form method="POST">
                <div class="user-update">
                    {% csrf_token %}
                    <div class="form-error">{{user_form.non_field_errors}}</div>
                    {% if not user.first_name %}
                        <p class="warning">The first name cannot be changed once set.</p>
                        <div class="form-input"><label class="form-label">First name: </label>{{ user_form.first_name }}</div>
                    {% endif %}
                    {% if not user.last_name %}
                        <p class="warning">The last name cannot be changed once set.</p>
                        <div class="form-input"><label class="form-label">Last name: </label>{{ user_form.last_name }}</div>
                    {% endif %}
                    {% if not user.profile.birth_date %}
                        <p class="warning">The date of birth cannot be changed once set.</p>
                        <div class="form-input"><label class="form-label">Birthday: </label>{{ profile_form.birth_date }}</div>
                    {% endif %}
                </div>
                <input type="submit" value="Update" class="button">
            </form>
        </div>
        {% endif %}
    </div>
</div>
    <div class="reservations">
        <button type="button" class="collapsible">Current Bookings</button>
        {% if current_bookings %}
        <div class="bookings">
            {% for booking in current_bookings %}
                <div class="booking-info">
                    A {{booking.room_id.room_type}} room in {{booking.room_id.hotel_id.rating}} &#11088;
                    {{booking.room_id.hotel_id.name}} from {{booking.check_in_date}} to {{booking.check_out_date}}
                     <span class="booking-link"><a href="/booking/{{booking.pk}}">(View booking details)</a></span>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>You have no current bookings.</p>
        {% endif %}
        <button type="button" class="collapsible">Upcoming Bookings</button>
        {% if future_bookings %}
        <div class="bookings">
            {% for booking in future_bookings %}
                <div class="booking-info">
                    A {{booking.room_id.room_type}} room in {{booking.room_id.hotel_id.rating}} &#11088;
                    {{booking.room_id.hotel_id.name}} from {{booking.check_in_date}} to {{booking.check_out_date}}
                    <span class="booking-link"><a href="/booking/{{booking.pk}}">(View booking details)</a></span>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>You have no future bookings.</p>
        {% endif %}
        <button type="button" class="collapsible">Booking History</button>
        <div class="bookings">
            {% if booking_history %}
            {% for booking in booking_history %}
                <div class="booking-info">
                    A {{booking.room_id.room_type}} room in {{booking.room_id.hotel_id.rating}} &#11088;
                    {{booking.room_id.hotel_id.name}} from {{booking.check_in_date}} to {{booking.check_out_date}}
                    <span class="review-link"><a href="/hotel/{{booking.room_id.hotel_id.slug}}">(Leave a review)</a></span>
                </div>
            {% endfor %}
            {% else %}
                <p>Your booking history is empty.</p>
            {% endif %}
            {% if canceled_bookings %}
                <h3>Cancelled Bookings:</h3>
            {% for booking in canceled_bookings %}
                <div class="booking-info">
                    A {{booking.room_id.room_type}} room in {{booking.room_id.hotel_id.rating}} &#11088;
                    {{booking.room_id.hotel_id.name}} from {{booking.check_in_date}} to {{booking.check_out_date}}
                </div>
            {% endfor %}
            {% else %}
                <p>Your booking history is empty.</p>
            {% endif %}
        </div>
    </div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}